* {
	box-sizing: border-box;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
}

.container {
    width: 90%;
    border: 5px;
    margin-right: auto;
    margin-left: auto;
    padding:5px 5px;
   }

.box{
    background-color: gray;
    margin:10px;
    border:2px solid black;
    padding: 0 0 0 10px;
}

.chicken{
    display: flex;
    margin-top: 0%;
    float: right;
    width: 100px;
    padding: 5px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(255, 71, 141);
}

.beef{
    display: flex;
    margin-top: 0%;
    float: right;
    width: 100px;
    padding: 5px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(253, 0, 0);
}

.sushi{
    display: flex;
    margin-top: 0%;
    float: right;
    width: 100px;
    padding: 5px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(253, 228, 0);
}

/* Desktop */
@media (min-width: 991px) {
    .col-lg-4 {
      float: left;
      width: 33%;
    }
  }
  
/* Tablet */
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
/* Mobile */
  @media (max-width: 768px) {.col-sm-12 {
      float: left;
      width: 100%;}
  }